/*  your css code here. If applicable */
#grid-container {
    width: 210px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.grid-item {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: transparent;
}
