#grid-container {
    width: 210px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

#grid-item {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
}

input {
    margin: 5px;
    padding: 6px;
}
button {
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}
